<template>
     
   <div class="card">
                    
            <h3 class="heading">Personal Details</h3>
            <DataTable class="table" :value="allPerson" stripedRows  editMode="row" dataKey="id" v-model:editingRows="editingRows" @row-edit-save="onRowEditSave" responsiveLayout="scroll">
               
                <Column field="name" header="Name" :sortable="true" style="width:20%">
                   <template #editor="{ data, field }">
                        <InputText v-model="data[field]" />
                    </template>
                </Column>
                <Column field="selectedGender" header="Gender" style="width:20%">
                    <template #editor="{ data, field }">
                        <Dropdown v-model="data[field]" :options="gender" optionLabel="label" optionValue="value" placeholder="Select a Gender">
                            <template #option="slotProps">
                                <span >{{slotProps.option.label}}</span>
                            </template>
                        </Dropdown>
                    </template>
                    <template #body="slotProps">
                        {{getStatusLabel(slotProps.data.selectedGender)}}
                    </template>
                </Column>
                <Column field="selectedCountry" header="Country" style="width:20%">
                     <template #editor="{ data, field }">
                        <Dropdown v-model="data[field]" :options="country" optionLabel="label" optionValue="value" placeholder="Select a Country">
                            <template #option="slotProps">
                                <span :class=" slotProps.option.value.toLowerCase()">{{slotProps.option.label}}</span>
                            </template>
                        </Dropdown>
                    </template>
                    <template #body="slotProps">
                        {{getCountry(slotProps.data.selectedCountry)}}
                    </template>
                </Column>
                <Column field="selectedState" header="State" style="width:20%">
                      <template #editor="{ data, field }">
                        <Dropdown v-model="data[field]" :options="cstate" optionLabel="label" optionValue="value" placeholder="Select a State">
                            <template #option="slotProps">
                                <span :class="  slotProps.option.value.toLowerCase()">{{slotProps.option.label}}</span>
                            </template>
                        </Dropdown>
                    </template>
                    <template #body="slotProps">
                        {{getState(slotProps.data.selectedState)}}
                    </template>
                </Column>
                <Column field="contact" header="Contact" style="width:20%">
                    <template #editor="{ data, field }">
                        <InputText v-model="data[field]" />
                    </template>
                </Column>
                <Column :exportable="false" header="Delete" style="min-width:8rem">
                
                    <template #body="slotProps">
                        <!-- <Button icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" @click="editProduct(slotProps.data)" /> -->
                        <Button icon="pi pi-trash" class="p-button-rounded p-button-warning" @click="deleteUser(slotProps.data)" />
                    </template>
                </Column>
                <Column :rowEditor="true"  header="Edit" style="width:10%; min-width:8rem" bodyStyle="text-align:center"></Column>
            </DataTable>
            
         
        </div>

        <!-- Company Details -->
         <div class="card">
              <h3  class="heading">Company Details</h3>
         <DataTable class="table" :value="allCompany" stripedRows  editMode="row" dataKey="id" v-model:editingRows="editingRows2" @row-edit-save="onRowEditSave2" responsiveLayout="scroll">
               
                <Column field="companyName" header="CompanyName" :sortable="true" style="width:20%">
                   <template #editor="{ data, field }">
                        <InputText v-model="data[field]" />
                    </template>
                </Column>

               <Column field="name" header="Name"  style="width:20%">
                   <template #editor="{ data, field }">
                        <InputText v-model="data[field]" />
                    </template>
                </Column>

                <Column field="email" header="Email" style="width:20%">
                   <template #editor="{ data, field }">
                        <InputText v-model="data[field]" />
                    </template>
                </Column>

                <Column field="job" header="Job"  style="width:20%">
                   <template #editor="{ data, field }">
                        <InputText v-model="data[field]" />
                    </template>
                </Column>

                <Column field="experience" header="Experience"  style="width:20%">
                   <template #editor="{ data, field }">
                         <InputNumber showButtons v-model="data[field]" />
                    </template>
                </Column>
                <Column :exportable="false" header="Delete" style="min-width:8rem">
                
                    <template #body="slotProps">
                        <!-- <Button icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" @click="editProduct(slotProps.data)" /> -->
                        <Button icon="pi pi-trash" class="p-button-rounded p-button-warning" @click="confirmDeleteProduct(slotProps.data)" />
                    </template>
                </Column>
                <Column :rowEditor="true"  header="Edit" style="width:10%; min-width:8rem" bodyStyle="text-align:center"></Column>
            </DataTable>
            
            </div>
            <!-- Company Details -->
            <Dialog v-model:visible="deleteProductDialog" :style="{width: '450px'}" header="Confirm" :modal="true">
            <div class="confirmation-content">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem" />
                <span v-if="product">Are you sure you want to delete <b>{{product.name}}</b>?</span>
            </div>
            <template #footer>
                <Button label="No" icon="pi pi-times" class="p-button-text" @click="deleteProductDialog = false"/>
                <Button label="Yes" icon="pi pi-check" class="p-button-text" @click="deleteProduct" />
            </template>
        </Dialog>

</template>

<script>
import {mapGetters,mapActions, mapState} from 'vuex';
export default {
     computed:{
        
        ...mapGetters(['allCountries']),
    },
 name:"Todos",
    data(){
        return{
             editingRows: [],
             editingRows2:[],            
             columns: null,
              name:'',
                 contact:null,
                selectedGender:null,
                 selectedCountry:null,                
                 product:{},
                 products:null,
                 deleteProductDialog:false,
                country:[
                    {label:'India', value:'India', name:'India'},
                    {label:'America', value:'America', name:'America'},
                    {label:'London', value:'London', name:'London' },
                    {label:'Africa', value:'Africa', name:'Africa'}
                ],
                 getCountry(status) {
                    switch(status) {
                        case 'India':
                            return ' India';

                        case 'America':
                            return 'America';

                        case 'London':
                            return 'London';

                        case 'Africa':
                            return 'Africa';

                        default:
                            return 'NA';
                    }
                },
                

                   selectedState:null,
                    cstate:[
                        {label:'TamilNadu', value:'TamilNadu', name:'TamilNadu'  },
                        {label:'Andhra Pradesh', value:'Andhra Pradesh', name:"Andhra Pradesh"},
                        {label:'Sikkim', value:'Sikkim', name:'Sikkim'},
                        {label:'Meghalaya', value:'Meghalaya', name:'Meghalaya'},
                        {label:'Assam', value:'Assam', name:'Assam'},
                        {label:'Gujarat', value:'Gujarat', name:'Gujarat'},
                        {label:'Madya Pradesh', value:'Madya Pradesh', name:'Madya Pradesh'},
                        {label:'Maharashtra', value:'Maharashtra', name:'Maharashtra'},
                        {label:'Kerala', value:'Kerala', name:'Kerala'}
                    
                    ],
                    getState(status) {
                    switch(status) {
                        case 'TamilNadu':
                            return ' TamilNadu';

                        case 'Andhra Pradesh':
                            return 'Andhra Pradesh';

                        case 'Sikkim':
                            return 'Sikkim';

                        case 'Meghalaya':
                            return 'Meghalaya';

                        case 'Assam':
                            return 'Assam';

                        case 'Gujarat':
                            return 'Gujarat';

                        case 'Madya Pradesh':
                            return 'Madya Pradesh';

                        case 'Maharashtra':
                            return 'Maharashtra';

                        case 'Kerala':
                            return 'Kerala';

                        default:
                            return 'NA';
                    }
                },


            gender:[
                {label:'Male', name:'Male',value:'Male'  },
                {label:'Female', name:'Female',value:'Female'},
                {label:'Other', name:'Other', value:'Other' }
            ],
                getStatusLabel(status) {
                    switch(status) {
                        case 'Male':
                            return ' Male';

                        case 'Female':
                            return 'Female';

                        case 'Other':
                            return 'other';

                        default:
                            return 'NA';
                    }
                }
                }
    },
    computed:{
        ...mapState(['persons','company']),
        ...mapGetters(['allPerson', 'allCompany','allCountries']),
    },
    methods:{
    ...mapActions(['getPerson', 'getCompany','updPerson','updCompany','deleteUser','deleteCompany','getCountries']),
       onRowEditSave(event) {
            let { newData, index } = event;

            this.allPerson[index] = newData;
             
             this.updPerson(newData)
             console.log("allPerson",allPerson)
            
        },
        onRowEditSave2(event) {
            let { newData, index } = event;

            this.allCompany[index] = newData;
            this.updCompany(newData)
            
            console.log("data",newData)
        },
      deleteProduct() {
            this.products = this.products.filter(val => val.id !== this.product.id);
            console.log("products",this.products)
            this.deleteProductDialog = false;
            this.company = {};
            this.$toast.add({severity:'success', summary: 'Successful', detail: 'Product Deleted', life: 3000});
        },
     confirmDeleteProduct(product){
        this.product = product;
         this.deleteProductDialog = true;
     },
         
       
    },

    created(){
        this.getPerson();
        this.getCompany();
         this.getCountries();
    },
   
}
</script>

<style>
 .heading
 {
    margin:2%;
    margin-left:10%;
    color:#fbb32d;
 }
 .table{
    width:80%;
    margin:auto;
 }
</style>