<template>
  <Toast/>
  <Toast position="bottom-right" group="br" />
  <div class="home">

  <div id="main">
  <h2>Add your company details</h2>
  <p class="para" >Please Fill Every details regarding your company</p>
  </div>

  <div class="box">

   <form action=""></form>
   
   <!-- <Avatar image="https://www.primefaces.org/wp-content/uploads/2020/05/placeholder.png"  class="mr-2 mb-" size="xlarge" shape="circle" />
    <FileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" :maxFileSize="1000000" @upload="onUpload" :auto="true" chooseLabel="Browse" /> -->

  <label for="name">Company Name</label>
  <InputText id="name" class="inputs "  v-model="companyName"  />
  <span class="error"  v-if="v$.companyName.$error">Name is required! </span>
   <br/><br/>

  <label for="email">Email Id</label>
  <InputText id="email" class="inputs " v-model="email" />
   <span class="error"  v-if="v$.email.$error">Email is required! </span>
    <br/><br/>

  <label for="job">Job Title</label>
  <InputText id="job" class="inputs "  v-model="job" />
  <span class="error"  v-if="v$.job.$error">Job Title is required! </span>
    <br/><br/>


  <label for="experience">Experience</label>
   <InputNumber v-model="experience"  class="inputs " showButtons  />
  <span class="error"  v-if="v$.experience.$error">Experience is required! </span>
  <br/><br/>
 

  <Checkbox v-model="checked" :binary="true" class="inputCheckbox" />
  <span> &nbsp; &nbsp; I accept the <span style="color:orangered">Terms and Conditions</span> </span>
  <br/>
  <span class="error"  v-if="v$.checked.$error">Value is required! </span>
  <br/><br/>
  

  <Button class="p-button-secondary" @click="handleBack">Back</Button>
  <Button id="danger" class="p-button-danger" @click="handleOtp" :disabled="!checked"  >Send OTP</Button>
  </div>
  </div>
</template>

<script>
import useVuelidate from '@vuelidate/core'
import {mapState,mapActions, mapMutations} from 'vuex'
import  {required, email, minLength,maxLength, sameAs, helpers} from '@vuelidate/validators'
// @ is an alias to /src


export default {

  // computed:{
  //   ...mapState(['companyName','email','job','experience','checked'])
  // },

  name: 'CompanyDetails',
  data(){
    return{
      companyName:'',
      email:'',
      job:'',
      experience:0,
      checked:false
    }
  },
 setup: () => ({ v$: useVuelidate() }),

    validations(){
      return{
      companyName:{required},
      email:{required, email},
      job:{required},
      experience:{required},
      checked:{required},
      }
    },
   

  
  methods:{
    ...mapMutations(['newCompany','newEmail','newJob','newExperience','newChecked']),
    ...mapActions(['addCompany']),
    handleBack(){
      this.$router.push({ name: 'PersonalDetails'})
    },
    
    handleOtp(){
      this.v$.$validate()
      if(!this.v$.$error){
         this.addCompany({companyName:this.companyName, email:this.email, job:this.job,experience:this.experience,checked:this.checked})   
      this.$router.push({ name: 'EmailVerification' })
      }
      else{
       
         this.$toast.add({severity: 'error', summary:'Form submission Failed', detail:"Please Fill the required field", group: 'br',life: 3000})
      }
    },
    onUpload() {
          this.$toast.add({severity: 'info', summary: 'Success', detail: 'File Uploaded', life: 3000});
      },
  }
  
}
</script>
<style >
*{
  margin:0;
  padding:0;
}

body{
  background-color:rgb(241, 239, 239);
}
.box{
  width:50%;
  padding-top:40px !important;
  margin:auto;
  padding:20px;
  background-color:white;
  margin-bottom:5%;
}
.inputCheckbox{
  margin-left:5%;
}

h1{
  text-align:center;
}
.p-button-danger{
  width:76% !important;
  margin-left: 1%!important;
  
}
.inputs{
  width:90% !important;
  margin:2% 5% 5% 5% !important;
  color:black !important;
  font-weight:bold !important;
  letter-spacing:1px;
  /* margin-bottom:5%;
  margin-top:2%; */
  
}
.para{
  font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
/* identical to box height */
margin-top: 3%;
text-align: center;

color: rgba(10, 9, 9, 0.8);
}

.selectInput{
  margin-bottom:5%;
  margin-top:5%;
  margin-left:5%;
  display: flex;
}

/* label{
  color:rgb(92, 92, 92);
  margin-left:5%;
} */
#main{
  margin-top:5%;
  margin-bottom:5%;
  font-size:18px;
  text-align:center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
Button{
  margin-top:4% !important;
  margin-left:5% !important;
}
.error{
  color:red;
  margin-left:5%;
}
label{
  margin-left:5%;
  color:black;
  font-weight:bold;
}
</style>