<template>
   <Toast />
   <Toast position="bottom-right" group="br" />
  <div id="main">
  <h1 >Enter Your OTP</h1>
  <p class="para" >For your security, we need to verifyt your identity. we sent a </p>
  <p class="para">5-digit code to name@domain.com. Please enter it below.</p> 
  </div>

  <div class="box">
    <p style="font-weight:bolder; margin-left:5%">Enter your code</p>
    <br/>
    <InputNumber v-model="inputNumber1" id="1"  maxLength="1"  :min="0"  class="inputbox"   /> 
     <!-- <span class="err-if="v$.inputNumber1.$error"> {{v$.inputNumber1.$errors[0].$message}}  </span> -->
    <InputNumber v-model="inputNumber2" id="2"  maxLength="1" :min="0"  class="inputbox"  /> 
  
    <InputNumber v-model="inputNumber3" id="3"   maxLength="1" :min="0"  class="inputbox" /> 
  
    <InputNumber v-model="inputNumber4" id="4"   maxLength="1" :min="0"  class="inputbox" /> 
  
    <InputNumber v-model="inputNumber5" id="5"  maxLength="1" :min="0" class="inputbox" /> 
   

    <span class="error"  v-if="v$.inputNumber1.$error">Field No.1 is required! </span>
    <span class="error"  v-if="v$.inputNumber2.$error">Field No.2 is required! </span>
    <span class="error"  v-if="v$.inputNumber3.$error">Field No.3 is required! </span>
    <span class="error"  v-if="v$.inputNumber4.$error">Field No.4 is required! </span>
    <span class="error"  v-if="v$.inputNumber5.$error">Field No.5 is required! </span>
    
  <br/>
      
    <Button class="p-button-secondary" @click="handleBack">Back</Button>
    <Button class="p-button-danger" @click="verify" :disabled="!inputNumber1 || !inputNumber2 || !inputNumber3 || !inputNumber4 || !inputNumber5 "  >Verify</Button>
    </div>

     <div class="box specific">
      <center>
        <p>Didn't receive the email? check your spam filter for an email </p>
        <p>from <span class="orange"> name@domain.com</span></p>
      </center>
    </div>
  
</template>

<script >
  
import useVuelidate from '@vuelidate/core'
import  {required, email, minLength,maxLength, sameAs, helpers} from '@vuelidate/validators'
import {mapState,mapActions, mapMutations} from 'vuex'
export default {
 
  name: 'App',
  setup: () => ({ v$: useVuelidate() }),

 data(){
  return{
      inputNumber1:null,
      inputNumber2:null,
      inputNumber3:null,
      inputNumber4:null,
      inputNumber5:null,
    }
    },

    validations(){
      return{
     inputNumber1:{required,maxLength :maxLength(1)},
     inputNumber2:{required,maxLength :maxLength(1)},
     inputNumber3:{required,maxLength :maxLength(1)},
     inputNumber4:{required,maxLength :maxLength(1)},
     inputNumber5:{required,maxLength :maxLength(1)},

      }
    },

  methods:{
    ...mapActions(['addEmail']),
    handleBack(){
      this.$router.push({name: 'CompanyDetails'})
    },
    verify(){
      this.v$.$validate()
      if(!this.v$.$error){
           this.addEmail({inputNumber1:this.inputNumber1,inputNumber2:this.inputNumber2,inputNumber3:this.inputNumber3,inputNumber4:this.inputNumber4,inputNumber5:this.inputNumber5})
           this.$toast.add({severity:'success', summary: 'Success Message', detail:'Form submitted successfully',group:'br', life: 3000});
        
      }
      else{
       
         this.$toast.add({severity:'error', summary: 'Form Submission Failed', detail:'Please Fill the required field',group:'br', life: 3000});
      }
    },
   
   
   
  }
  
}
</script>

<style >
*{
  margin:0;
  padding:0;
}

.para{
  font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
/* identical to box height */
margin-top: 3%;
text-align: center;

color: rgba(10, 9, 9, 0.8);
}
InputNumber{
  text-align:center  !important;
  font-weight: bold !important;
  padding:10px;
  
}
.specific{
  margin-top:-4.7% !important;
}
body{
  background-color:rgb(241, 239, 239);
}
.box{
  width:50%;
  padding-top:40px !important;
  margin:auto;
  padding:20px;
  background-color:white;
  margin-bottom:5%;
  
}
.inputCheckbox{
  margin-left:5%;
}

h1{
  text-align:center;
}
.p-button-danger{
  width:76% !important;
  margin-left: 1%!important;
}
 
.inputbox{
  max-width:65px !important;
  height:70px;
  margin-left:7%;
  display:flex ;
  flex-direction: column ;
  text-align:center !important;
  font-weight:bolder;
  margin-bottom:20px;  
  
}

#main{
  margin-top:5%;
  margin-bottom:5%;
  font-size:18px;
  text-align:center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
Button{
  margin-top:4% !important;
  margin-left:5% !important;
}

.error{
  color:red;
  margin-left:5%;
  display: block;
}
</style>
